@charset "UTF-8";
/* Modal Content/Box */
#wrapper {
	background-color: #fefefe;
	margin: 4% auto; /* 4% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 40%; 
	text-align: center;
        box-sizing: border-box;
}
/* Form */
/* Full-width input fields */
input[type=text], input[type=password] {
	width: 100%;
	padding: 15px 0;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
	background-color: #ddd;
	outline: none;
}
hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
}
/* Set a style for all buttons */
.signupbtn {
	background-color: #b76e79;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}
.signupbtn:hover {
	opacity:1;
}
/* Add padding to container elements */
.form-container {
	padding: 16px;
}
/* Clear floats */
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
#error {
  text-align: center;
  color: #f00;
}
#success {
  text-align: center;
  color: #5BC236;
}
.secondLinks {
	background-color: #b76e79;
	color: white;
	padding: 10px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
	border-radius: 50px;
}
.secondLinks:hover {
	opacity:1;
}




/* Mobile */
@media (max-width: 599px) {
  #wrapper {
    width: 100%;
  }
}